<!DOCTYPE html>
<html>
<head>
    <title>BlogPosts</title>
	  <!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" >-->
	  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
	  <link rel="stylesheet" href="/stylesheets/app.css" >
	  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
    <body>

    <div class="ui inverted menu">
        <div class="ui container">
        <a class="header item" href="/posts"><i class="code icon"></i> My Blog Posts  </a>
        <a class="item" href="/"> Home  </a>
        <a class="item" href="/posts/new"> New Post </a>
         </div>
    </div>
